body{
    background: #242424; 
    text-align: center; 
    color: white; 
    font-family: sans-serif;
}
header{
    background: #00AAFF;
}
h1{
    color: black; 
    font-family: sans-serif;
}
a{
    color: white;
    text-decoration:none;
}
td{
   border: 2px solid white;
}
table{
    border: 2px solid white;
    width: 50%;
    border-collapse: collapse;
}

